<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/styles/base.css"> 
    <link rel="stylesheet" href="/styles/posts.css"> 
</head>
<body>
  <%- include('includes/header') %>
  <main id="post-detail">
    <h1><%= post.title %></h1>
    <section id="post-meta">
      <% if (post.author) { %>
        <address>
          <a href="mailto:<%= post.author.email %>"><%= post.author.name %></a>
        </address>
      <% } %>
      <time datetime="<%= post.date %>">
        <%= post.date %>
      </time>
    </section>
    <hr>
    <article>
      <p id="body"><%- post.body %></p>
    </article>
  </main>
</body>
</html>
